# OSMALL- DATA CLEANING

In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import seaborn as sns
%matplotlib inline

In [12]:
data=pd.read_csv('/storage/emulated/0/Android/data/ru.iiec.pydroid3/files/Osun Mall_Customers .csv')
print(data)

     CustomerID  Gender   Age  Monthly Income per thousand (Naira)  \
0           1.0    Male  19.0                                   15
1           2.0    Male  21.0                                   15
2           3.0  Female  20.0                                   16
3           4.0  Female  23.0                                   16
4           5.0  Female  31.0                                   17
..          ...     ...   ...                                  ...
196       197.0  Female  45.0                                  126
197       198.0    Male  32.0                                  126
198       199.0    Male  32.0                                  137
199       200.0    Male  30.0                                  137
200         NaN     NaN   NaN                                12112

     Spending Score (1-100)
0                      39.0
1                      81.0
2                       6.0
3                      77.0
4                      40.0
..                      ...
196                    28.0
197                    74.0
198                    18.0
199                    83.0
200                     NaN

[201 rows x 5 columns]

In [13]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 5 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   CustomerID                           200 non-null    float64
 1   Gender                               200 non-null    object
 2   Age                                  200 non-null    float64
 3   Monthly Income per thousand (Naira)  201 non-null    int64
 4   Spending Score (1-100)               200 non-null    float64
dtypes: float64(3), int64(1), object(1)
memory usage: 8.0+ KB
None

In [14]:
print(data.isnull().sum())

CustomerID                             1
Gender                                 1
Age                                    1
Monthly Income per thousand (Naira)    0
Spending Score (1-100)                 1
dtype: int64

In [15]:
print(data.dropna())
data=data.dropna()

     CustomerID  Gender   Age  Monthly Income per thousand (Naira)  \
0           1.0    Male  19.0                                   15
1           2.0    Male  21.0                                   15
2           3.0  Female  20.0                                   16
3           4.0  Female  23.0                                   16
4           5.0  Female  31.0                                   17
..          ...     ...   ...                                  ...
195       196.0  Female  35.0                                  120
196       197.0  Female  45.0                                  126
197       198.0    Male  32.0                                  126
198       199.0    Male  32.0                                  137
199       200.0    Male  30.0                                  137

     Spending Score (1-100)
0                      39.0
1                      81.0
2                       6.0
3                      77.0
4                      40.0
..                      ...
195                    79.0
196                    28.0
197                    74.0
198                    18.0
199                    83.0

[200 rows x 5 columns]

# Label Encoding
(with mapping method)

In [16]:
data['Gender']=data['Gender'].map({'Male':0, 'Female':1})
print(data['Gender'])

0      0
1      0
2      1
3      1
4      1
      ..
195    1
196    1
197    0
198    0
199    0
Name: Gender, Length: 200, dtype: int64

In [17]:
sav=data.to_csv(r'/storage/emulated/0/Android/data/ru.iiec.pydroid3/files/OSM DC.csv')